$black: #081c29;
$grey: #8a8a8a;
$line: #e2e2e2;
$white: #fff;

.container {
  width: 788px;
  padding: 20px;
  margin: auto;
}
.infoBox {
  width: 100%;
  min-height: 100px;
  padding: 20px;
  background-color: $white;
  border: 1px solid $line;
  border-radius: 10px;
  h1 {
    font-size: 24px;
    line-height: 36px;
    font-weight: 400;
    color: $black;
  }
  p {
    font-size: 14px;
    line-height: 21px;
    color: $grey;
  }
}
.allClasses {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  flex-wrap:wrap;
}
@media only screen and (max-width: 800px) {
  .allClasses {
    display: block;
  }
  .container {
    width: 100%;
    padding: 10px;
  }
}
