<div class="container">
  <img src="assets/logo.png" class="logo" />
  <div class="box">
    <h1>Classroom</h1>
    <p>Create free account</p>
    <form [formGroup]="myForm" class="form" (ngSubmit)="onSubmit(myForm)">
      <label>Full Name <b>*</b></label>
      <input
        type="text"
        placeholder="Your Name"
        [formControl]="myForm.controls['fullName']"
      />
      <label>Email <b>*</b></label>
      <input
        type="email"
        placeholder="example@email.com"
        [formControl]="myForm.controls['email']"
      />
      <label>Password <b>*</b></label>
      <input
        type="password"
        placeholder="Password (Minimum length 6)"
        [formControl]="myForm.controls['password']"
      />
      <button [disabled]="!myForm.valid">Create</button>
    </form>
    <div class="message">
      <p *ngIf="errorMsg.length > 0" class="error">
        {{ errorMsg }}
      </p>
      <p *ngIf="message.length > 0" class="success">
        {{ message }}
      </p>
    </div>
    <div class="formFooter">
      <div class="line"></div>
      <div class="content">
        Already account ? <a routerLink="/home">Login</a>
      </div>
    </div>
  </div>
</div>
